In [ ]:
import os
import openai

openai.api_key = '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'

response = openai.Completion.create(
  model="text-davinci-003",
  prompt="Summarize this for a second-grade student: \n \n PREOPERATIVE DIAGNOSIS:,  Completely bony impacted teeth #1, #16, #17, and #32.,POSTOPERATIVE DIAGNOSIS: , Completely bony impacted teeth #1, #16, #17, and #32.,PROCEDURE: , Surgical removal of completely bony impacted teeth #1, #16, #17, and #32.,ANESTHESIA: , General nasotracheal.,COMPLICATIONS: , None.,CONDITION:  ,Stable to PACU.,DESCRIPTION OF PROCEDURE: , Patient was brought to the operating room, placed on the table in a supine position, and after demonstration of an adequate plane of general anesthesia via the nasotracheal route, patient was prepped and draped in the usual fashion for an intraoral procedure.  A gauze throat pack was placed and local anesthetic was administered in all four quadrants, a total of 7.2 mL of lidocaine 2% with 1:100,000 epinephrine, and 3.6 mL of bupivacaine 0.5% with 1:200,000 epinephrine.  Beginning on the upper right tooth #1, incision was made with a #15 blade.  Envelope flap was raised with the periosteal elevator, and bone was removed on the buccal aspect with straight elevator.  Potts elevator was then used to luxate the tooth from the socket.  Remnants of the follicle were then removed with hemostat.  The area was irrigated and then closed with 3-0 gut suture.  On the lower right tooth #32, incision was made with a #15 blade.  Envelope flap was raised with the periosteal elevator, and bone was removed on the buccal and distal aspect with a high-speed drill with a round bur.  Tooth was then sectioned with the bur and removed in several pieces.  Remnants of the follicle were removed with a curved hemostat.  The area was irrigated with normal saline solution and closed with 3-0 gut sutures.  Moving to #16 on the upper left, incision was made with a #15 blade.  Envelope flap was raised with the periosteal elevator, and bone was removed on the buccal aspect with straight elevator.  Potts elevator was then used to luxate the tooth from the socket.  Remnants of the follicle were removed with a curved hemostat.  The area was irrigated with normal saline solution and closed with 3-0 gut sutures.  Moving to the lower left #17, incision was made with a #15 blade.  Envelope flap was  raised with the periosteal elevator, and bone was removed on the buccal and distal aspect with high-speed drill with a round bur.  Then the bur was used to section the tooth vertically.  Tooth was removed in several pieces followed by the removal of the remnants of the follicle.  The area was irrigated with normal saline solution and closed with 3-0 gut sutures.  Upon completion of the procedure, the throat pack was removed and the pharynx was suctioned.  An NG tube was then inserted and small amount of gastric contents were suctioned.  Patient was then awakened, extubated, and taken to the PACU in stable condition.",
  temperature=0.7,
  max_tokens=256,
  top_p=1,
  frequency_penalty=0,
  presence_penalty=0
)

In [4]:
import os
os.chdir('C:/Users/p_adi/OneDrive/Desktop/duly')

In [5]:
import csv
import jsonlines

# Open the CSV file
with open('duly_sample.csv', mode='r') as csv_file:

    # Create a CSV reader object
    csv_reader = csv.DictReader(csv_file)

    # Loop through each row in the CSV file
    for row in csv_reader:

        # Create an empty dictionary to hold the row data
        data = {}

        # Loop through each column in the CSV file
        for column in csv_reader.fieldnames:

            # Add the column data to the dictionary
            data[column] = row[column]

        # Open the JSONL file in append mode
        with jsonlines.open('your_training_data.jsonl', mode='a') as writer:

            # Write the dictionary to the JSONL file
            writer.write(data)

In [11]:
import csv
import jsonlines

# Open the CSV file
with open('chatgpt-1.csv', mode='r') as csv_file:

    # Create a CSV reader object
    csv_reader = csv.DictReader(csv_file)

    # Loop through each row in the CSV file
    for row in csv_reader:

        # Create an empty dictionary to hold the row data
        data = {}

        # Loop through each column in the row
        for column, value in row.items():

            # Add the column data to the dictionary
            data[column] = value

        # Open the JSONL file in append mode
        with jsonlines.open('your_training_data.jsonl', mode='a') as writer:

            # Write the dictionary to the JSONL file
            writer.write(data)

In [9]:
import pandas as pd
import os
os.chdir('C:/Users/p_adi/Downloads')
data = pd.read_csv('chatgpt-1.csv')
data.head()

,patientmasterkey,patient,dob,gender,maritalstatus,unrestricted_addressstreet,addresscity,addressstate,addresszip,unrestricted_phone,paymentmethod,race,ethnicity,occupation
0,1000_1,Russell,07-01-1988,Male,Single,1094 jackson ave,franklinville,NJ,8322,856 417 1606,Insurance,White,Other,n a
1,1000_10,Domenic,12-09-1995,Male,Single,31 Elm Street,Johnston,RI,2919,401 556 8124,Did Not Answer,Other,NaN,n a
2,1000_100,Stacy,26-10-1991,Female,Single,379 Tally Ho Road,MIddletown,NY,10940,845 800 3873,Insurance,White,Other,n a
3,1000_1003,Alexander,05-01-1992,Male,NaN,811 Antler Court,Brandon,FL,33511 7308,727 678 8552,Insurance,White,Caucasian White,NaN
4,1000_1004,Katarina,10-12-1993,Female,Single,261 65th Street,Niagra Falls,NY,14304,716 377 0886,Insurance,White,Caucasian White,Unemployed

In [2]:
import pandas as pd
import json


# Generate a summary of the data
summary = data.describe(include='all')

# Generate a prompt based on the summary
prompt = "What can you tell me about this dataset? Here are some summary statistics: " + summary.to_string()

# Generate a JSONL file with the prompt and the data
with open('my_data.jsonl', 'w') as f:
    for i, row in data.iterrows():
        example = {'prompt': prompt, 'text': row.to_dict()}
        json.dump(example, f)
        f.write('\n')

In [3]:
example

{'prompt': 'What can you tell me about this dataset? Here are some summary statistics:        patientmasterkey  patient         dob gender maritalstatus unrestricted_addressstreet   addresscity addressstate addresszip unrestricted_phone paymentmethod   race ethnicity  occupation\ncount              5000     5000        5000   4984          4649                       4943          4949         4947       4939               4610          4996   5000      3714        3263\nunique             5000     1378        3960      2             8                       4788          2599           54       3084               4412             9     13         7        1528\ntop              1000_1  Michael  31-12-9999   Male        Single                   Homeless  Jacksonville           FL      34983       000 000 0000     Insurance  White     Other  Unemployed\nfreq                  1      144          13   3243          2962                          5           107         1300         22                 11          3572   2902      1910         417',
 'text': {'patientmasterkey': '1000_2878',
  'patient': 'Jeffrey',
  'dob': '08-07-1977',
  'gender': 'Male',
  'maritalstatus': 'Married',
  'unrestricted_addressstreet': '670 Albertson Road',
  'addresscity': 'Hammonton',
  'addressstate': 'NJ',
  'addresszip': '8037',
  'unrestricted_phone': '609 472 3403',
  'paymentmethod': 'Insurance',
  'race': 'White Caucasian',
  'ethnicity': 'Caucasian White',
  'occupation': nan}}

In [12]:
data

{'patientmasterkey': '1000_2878',
 'patient': 'Jeffrey',
 'dob': '08-07-1977',
 'gender': 'Male',
 'maritalstatus': 'Married',
 'unrestricted_addressstreet': '670 Albertson Road',
 'addresscity': 'Hammonton',
 'addressstate': 'NJ',
 'addresszip': '8037',
 'unrestricted_phone': '609 472 3403',
 'paymentmethod': 'Insurance',
 'race': 'White Caucasian',
 'ethnicity': 'Caucasian White',
 'occupation': ''}